body { 
	margin: 15px; 
	background-color: #eee;
}
.main-title{
	width: 100%;
	text-align: center;
	font-size: 40px;
	border-bottom: 1px solid #000;
}
.canvas-wrapper{
	width: 80%;
	float: right;
}
.side-menu{
	width: 20%;
	float: left;
}
.side-menu .side-menu-title{
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	margin-right: 15px;
}
.side-menu .fields{
	margin: 10px 5px;
}
.side-menu .fields input[type=number]{
	width: 50px;
}
.side-menu .fields .label-title, .side-menu .label-title{
	font-weight: bold;
	font-style: 11px;
	letter-spacing: 1.4;
	text-transform: uppercase;
}
.side-menu .btn-generate{
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-style: 10px;
	letter-spacing: 1.4;
	border: 1px solid transparent;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 30px;
}
.side-menu .btn-generate:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}